<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue practice</title>
  
//cssのリンク先ファイルの指定
  <link rel="stylesheet" href="./main.css">
</head>
<body>
<!-- containerに対しCSS,appに対しJSを当てている -->
  <div id="app" class='container'>
    <h1>俺のtodos</h1>
    <ul>
<!-- {{ JSの【data】を入れることができる }}　ループにするのでコメントアウト
      <li>{{ todos[0] }}</li>
      <li>{{ todos[1] }}</li>
      <li>{{ todos[2] }}</li> -->
      
      <!-- v-for=変数 in データ（配列）でループ処理-->
      <li v-for="todo in todos">{{ todo }}</li>
    </ul>
<!--  
v-onでaddItemに対しデsubmitアクションのデータを送信してくれる。という意味か？
<form v-on:submit='addItem'> 
-->
      <input type="text">
      <!-- value=Addてなんだ⇒表示上の文字列だった-->
      <input type="submit" value="Add">
    </form>
  </div>

//https://jp.vuejs.org/v2/guide/よりCDNをコピペする
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js"></script>
</body>
</html>
